body {
    background-color: #777777;
    margin: 0;
}

.navbar {
    border-bottom: solid 2px teal;
}

h1 {
    background-color: white;
    color: white;
    padding: 10px;
    text-align: center;
}

.mynav {
    position: absolute;
    right: 0;
}

img {
    margin: 10px;
    float: left;
}

.contactpage {
    margin-top: 50px;
}


.aboutme {
    margin-top: 50px;
}

.container {
    margin-bottom: 100px;
}

footer {
    background-color: darkgrey;
    position: relative;
    z-index: 10;
    margin-top: -1em;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    border-top: solid 2px teal;
}

.copyright {
    text-align: center;
    padding: 10px;
}

.card-text {
    float: left;
}

.footcontact {
    margin-bottom: 100px
}